*{
	margin:0;
	padding:0;
	font-size: 14px;
}
body{
	background-color: #79cdc8;
}
a{
	text-decoration: none;
}
a:link {color:rgba(255,255,255,.6);}     /* 未被访问的链接*/
a:visited {color: rgba(255,255,255,.6);}  /* 已被访问过的链接*/
a:hover {color: #fff;}    /* 鼠标悬浮在上的链接*/
a:active {color: #fff;}   /* 鼠标点中激活链接*/
.head,.footer{
	height: 60px;
	width:100%;
	background-color: #252525;
}
.headText{
	margin:0 auto;
	width:1200px;
	height:60px;
	line-height: 60px;
}
.logo{
	float:left;
	color:rgba(255,255,255,.6);
	font-size: 16px;
	cursor: pointer;
}
.logo:hover{
	color:#fff;
}
ul{
	list-style: none;
	float:right;
	color:rgba(255,255,255,.6);
	cursor: pointer;
}
li{
	margin-left: 100px;
	display:inline;
}
li:hover{
	color:#fff;
}

.container{
	background-color: #79cdc8;
	width:100%;
}
.name{
	color:#fff;
	text-align: center;
	margin-top: 90px;
	font-size: 50px;
	font-weight: lighter;
}
.introduce{
	margin:0 auto;
	width:1200px;
	margin-top: 30px;
}
.box{
	display:inline-block;
	width:230px;
}
.boxText{
	text-align: center;
	margin-top: 20px;
}
.headPic{
	margin:0 auto;
	width:980px;
	margin-top: 50px;
}
img{
	width:200px;
	height:200px;
	border-radius: 100px;
	margin-left:30px;
	display: block;
	margin:0 auto;
}


.footer{
	position:absolute;
	bottom:0px;
	line-height: 60px;
}
.footText{
	text-align: center;
	color:rgba(255,255,255,.6);
}












